<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AWSSDK.Core" version="3.7.0.31" targetFramework="net461" />
  <package id="AWSSDK.SimpleNotificationService" version="3.7.2" targetFramework="net461" />
  <package id="AWSSDK.SimpleSystemsManagement" version="3.7.3.12" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net461" />
</packages>